<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apptelecom">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logotipo"
        android:label="Telecom Inventory"
        android:roundIcon="@drawable/logotipo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="VAIMAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WebViewArduino" />
        <activity android:name=".WebViewFreedom" />
        <activity android:name=".VideoFreedom" />
        <activity android:name=".VideoArduino" />
        <activity android:name=".ExibeCadastros" />
        <activity android:name=".TelaFpga">
            <intent-filter>
                <action android:name="VAIFPGA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaMicrocontroladores">
            <intent-filter>
                <action android:name="VAIMICRO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomeActivity"
            android:label="Telecom Inventory"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>